.labResultsContainer {
  margin-top: 16px;
  max-height: 20dvh;
  overflow: auto;
}

.labResult {
  padding: 10px 20px;
  text-decoration: none;

  &:hover {
    background-color: #f6f7f8;
  }
}

.labResultText {
  color: #072635;
}
