.userItem {
  padding: 16px 18px;

  &.is_active {
    background-color: #d8fcf7;
  }
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  padding-right: 12px;

  figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
}

.userName {
  color: #072635;
}

.userSubtitle {
  color: #707070;
}

.userName,
.userSubtitle {
  line-height: 19px;
}
