.patientsPanel {
  padding: 0;
}

.patientsHeader {
  background-color: #ffffff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px;
}

.patientsList {
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: auto;
  @media screen and (min-width: 576px) {
    max-height: calc(100vh - 90px);
  }
  @media screen and (max-width: 575px) {
    max-height: 50dvh;
  }

  button {
    text-decoration: none;
  }
}
