.patientsPanel {
  padding: 0;
}

.patientsHeader {
  background-color: #ffffff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px;
}

.patientsList {
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  max-height: calc(100vh - 90px);
  overflow: auto;

  button {
    text-decoration: none;
  }
}
