:root {
  color: #072635;
  background-color: #f6f7f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  padding: 18px;
  margin: 0;
  font-family: "Manrope", serif;
  font-weight: 400;
  line-height: 19px;
  color: #072635;
}

.container {
  display: grid;
  grid-template-columns: 24% 1fr 24%;
  gap: 32px;
  max-width: 1600px;
  margin: 0 auto;
}

h2,
.h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

h3,
.h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
}

.text_regular {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.text_emphasized {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagePanel {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex_column_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  &:before, &:after {box-sizing: inherit}
}

html, body {height: 100%}

html {
  font: 400 16/22px $ff;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $tx;
  background: #F6F5F9;
  overflow-x: hidden;
  transition: 0.5s;
  &.is_overflow {overflow: hidden}
}

article, aside, figure, footer, header, nav, section {display: block}

button {background: rgba(255, 255, 255, 0); border: medium none}

ol {list-style-position: inside}

strong, b {font-weight: 700}

td {vertical-align: middle}

table {border-spacing: 0}

mark {background: none}

ul {list-style: none}

.wp-caption p {margin-top: 16px}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  transition: all 0.3s ease;
  color: $cl;
  outline: 0 none;
  text-decoration: none;
  @include hover {
    outline: 0 none;
    text-decoration: none;
  }
  > img {border: 0}
} */
