.vitalCard {
  width: 100%;
  padding: 16px;
  background: #f6f7f8;
  border-radius: 12px;
}

.vitalIcon {
  margin-bottom: 16px;
}

.vitalValue {
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 41px;
  font-weight: 800;
}
