.patientCard {
  margin-bottom: 32px;
}

.patientName {
  margin-top: 24px;
  margin-bottom: 32px;
}

.patientInfoItems {
  gap: 24px;
}

.showMoreBtn {
  display: block;
  margin: 16px auto 12px;
  padding: 11px 40px;
  border: none;
  background-color: #01f0d0;
  color: #072635;
  border-radius: 41px;
}
