.patientCard {
  margin-bottom: 32px;
}

.patientImage {
  width: 100%;
  max-width: 200px;

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
  }
}

.patientName {
  margin-top: 24px;
  margin-bottom: 32px;
  text-align: center;
}

.patientInfoItems {
  gap: 24px;
}

.showMoreBtn {
  display: block;
  margin: 16px auto 12px;
  padding: 11px 40px;
  border: none;
  background-color: #01f0d0;
  color: #072635;
  border-radius: 41px;
}
